
/**
    @description 固定样式
    @since 25/12/01
    @author xr
*/

*, body  {
    font-family: 'Microsoft YaHei' sans-serif !important;
}

tr {page-break-inside: avoid; } /*不允许行跨页*/

@page:first {
    size:A4;
    margin-top:340px;
    @top-center {
        content: element(header);
    }
}
@page {
    size:A4;
    margin-top: 340px;
     @top-center {
        content: element(header);
    }
}
.page-header-first {
    display: block;
    position: running(header);
    height: 330px;
}
.page-header {
    display: block;
    position: running(header);
    height:240px;
}
.page-number::after {
    content: "第 " counter(page) " 页，共 " counter(pages) " 页";
}

