server:
  port: 9001

spring:
  application:
    name: gateway
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

    gateway:
      discovery:
        locator:
          #enabled: true   # 允许通过 nacos 直接路由
          enabled: false  # 关闭服务发现的自动路由（关键！）
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://user  # 对应user服务的spring.application.name
          predicates:
            - Path=/user/**  # 匹配以/user开头的请求
          filters:
            - StripPrefix=0  # 不删除路径前缀（根据实际情况调整）
        - id: order-service
          uri: lb://order
          predicates:
            - Path=/order/**
          filters:
            - StripPrefix=0
        - id: product-service
          uri: lb://product
          predicates:
            - Path=/product/**
          filters:
            - StripPrefix=0
logging:
  level:
    org.springframework.cloud.gateway: DEBUG  # 网关路由详细日志
    org.springframework.cloud.client.discovery: INFO  # 服务发现日志
