<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.first.order.mapper.OrderMapper">

<!--    <insert id="insertDraft" useGeneratedKeys="false">-->
<!--        INSERT INTO xr_order-->
<!--        (id, order_code, user_code, status, create_time)-->
<!--        VALUES-->
<!--        (#{id}, #{orderCode}, #{userCode}, 0, NOW());-->
<!--    </insert>-->

</mapper>